SYSROOT        ?= $(shell pwd)

HOST           ?= i686-elf
HOST_ARCH      ?= i386

AR             := $(HOST)-ar
AS             := $(HOST)-as
CC             := $(HOST)-gcc

PREFIX         := /usr
INCLUDE_DIR    := $(PREFIX)/include

CC_FLAGS       := --sysroot=$(SYSROOT) -O2 -g
LD_FLAGS       :=

ifneq (,$(findstring -elf,$(HOST))) # -elf gcc targets don't have a system include directory.
        CC_FLAGS   := -isystem=$(INCLUDE_DIR) $(CC_FLAGS)
endif
